<div class="card my-2 bg-secondary d-flex col-12 flex-row">
        <img src="<%- product.imageUrl %>" class="img-flex  col-4" alt="product image">   
        <div class="d-flex justify-content-around align-items-center" style="width: inherit;">
          <div class="flex-column">
            <h5 class=" text-light"><%- product.name %></h5>
            <p class="text-light"><%- product.category %></p>
          </div>
          <p class="h2 text-success">$<%- product.price %></p>
          <button class="btn btn-sm btn-danger" onclick="return removeCartProduct('<%- product._id %>')">X</button>
        </div>
  </div>
  <script>
    let removeCartProduct = (targetProd) => {
    fetch('/api/removeCartProduct', {
        method:'POST',
        body: targetProd,
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        }
    })
      .then(data=>console.log(data))
      .catch(error => console.error('Error:', error));
    location.reload()
  }
  </script>