<%- include('../partials/head') %>
<body class="bg-secondary">
   <% let targetCart = Object.keys(cart.products) %> <%# Unable to use .lenght propiety, reads as object. Object.keys(targetCart) returns an object as well so Object.keys(targetCart).lenght was not working either%> 
  <% let cartLenght = 0%>  
  <% for (let i = 1; targetCart[i]; i++) { %>
       <% cartLenght++ %>
  <%  } %>  
    <%- include('../partials/header') %>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <img src="<%= user.profilePic  %> " alt="profile-pic" style="height: 2rem; width: 2rem" class="me-2">
        <h6 class="text-light">Bienvenido <%- user.name %>! Tienes <%- (cartLenght>0) ? cartLenght : 0 %> productos en el carrito </h6>
      </div>
      <div class="my-1">
        <a href="/cart"><button class="btn btn-success">Ver carrito</button></a>
        <a href="/api/logout"><button class="btn btn-danger">Desloguearse</button></a>
      </div>
    </div> 
    <div class="d-flex justify-content-center mb-5 text-light h1 bg-dark">Productos</div>
    <ul class="d-flex justify-content-around flex-wrap">
      <% products.forEach(function(product){ %>
        <%- include('../partials/productCard', {product: product}); %>
      <% }); %>
    </ul>
    <%- include('../partials/scripts') %>
</body>